api_version = "2025-04"

[[extensions]]
name = "t:name"
handle = "change-payment-name"

uid = "deefa3f2-b5ce-c634-e01a-87d313d58c9022cb7436"

type = "function"

description = "t:description"

  [[extensions.targeting]]
  target = "purchase.payment-customization.run"
  input_query = "src/run.graphql"
  export = "run"

  [extensions.build]
  command = ""
  path = "dist/function.wasm"

  [extensions.ui.paths]
  create = "/"
  details = "/"
